@import 'utility'
@import 'landing'
// L ord
// V ader's
// F ormer
// H andle
// A niken

.Log
  background:
    image: url(../gold_white_eyeshadow.jpg)
    size: cover
    repeat: no-repeat
  min-height: 100vh

h1
  color: $salmon
  font:
    family: $cursive-one
    size: 45px
  margin: 0px
  padding-top: 2em
  text-align: center

.userbutton
  display: flex
  justify-content: center
  padding-top: 2.5em

button
  background-color: transparent
  border-color: darken($salmon, 4%)
  border-radius: 30px
  color: white
  font-size: 40px

.avatar
  background-image: url(../stock_user_image.jpg)
  background-size: contain
  height: 150px
  width: 150px
  border-radius: 75px

.exit
  background-color: transparent
  border-color: transparent
  color: #394143
  font:
    family: $serif-two
    size: 18px
    weight: bolder
  transition: background-color .7s linear
  transition: color .6s linear

.exit:hover
  background-color: lighten($salmon, 15%)
  color: #CB9D70
