@import 'utility'

$base-text-size: 16px
$base-font-family: sans-serif

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $base-font-family

.Landing
  background:
    image: url(../mua.jpg)
    size: cover
    repeat: no-repeat
  min-height: 100vh

  h1
    margin:
      top: 0px
      bottom: 0px
