@import 'utility'
$cursive-one: 'Homemade Apple', cursive
$cursive-four: 'Give You Glory', cursive
$serif-one: 'Coustard', serif
$serif-two: 'Raleway', sans-serif

$base-text-size: 16px
$base-font-family: sans-serif

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $base-font-family

.Landing
  background:
    image: url(../mua.jpg)
    size: cover
    repeat: no-repeat
  min-height: 100vh

  h1
    color: #E9C8B0
    font:
      family: $cursive-one
      size: 50px
    margin:
      top: 0px
      bottom: 0px
    text-align: center

  footer
    bottom: 0
    margin: 0px
    position: absolute
    text-align: center
    width: 100%

  p
    color: #B4A894
    font:
      family: $serif-two
      size: 30px
    padding-bottom: 2em

  button
    border-radius: 8px
    margin: 5px
    width: 400px
    font:
      family: $serif-two
      size: 30px

  .sign
    background-color: #C87263
    color: #323346

  .sign:hover
    background-color: #FB5858

  .log
    background-color: #CFBDA5
    color: #313245

  .log:hover
    background-color: #EBE5D5
