@import 'utility'
@import 'landing'

.Sign
  background:
    image: url(../brush.jpg)
    size: cover
    repeat: no-repeat
  min-height: 100vh

h1
  color: #FF9999
  font:
    family: $serif-two
    size: 45px
  margin: 0px
  padding-top: 2em
  text-align: center

.buttons
  display: flex
  justify-content: space-around
  padding-top: 12em

button
  border-radius: 18px
  color: white
  font-size: 25px

.facebook
  background-color: #3F589B

.twitter
  background-color: #00ABF0

.google
  background:
    image: url('https://developers.google.com/identity/images/g-logo.png')
    repeat: no-repeat
    size: cover
    position: center
  color: transparent
