@import 'landing'

.SinglePicContainer
  display: flex
  justify-content: center
  padding-top: 6em

.Stats
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  padding-top: 1em

.Stats input
  background-color: transparent
  border-color: #DF8B6C
  color: #FBE2E2
  font:
    family: $cursive-four
    size: 2em
    weight: bold
  justify-content: center
  margin-top: 8px
  text-align: center
