@import 'landing'

.userPage
  background:
    image: url(../wood.jpg)
    repeat: no-repeat
    size: cover
  min-height: 150vh

.userHeader
  background-color: #323346
  min-height: 120px
  position: relative

nav
  bottom: 0
  margin: 0px
  padding-left: 4px
  position: absolute

nav ul
  list-style: none
  margin: 0px
  padding-left: 20px

nav li
  display: inline
  font-size: 20px
  padding-right: 1em

nav a
  color: white
  font-family: $serif-two
  text-decoration: none
  transition: color .5s linear

nav a:hover
  color: $salmon

.collection
  color: #E75481
  transition: color .5s linear

.collection:hover
  color: white

.avatarImg
  border:
    color: transparent
    radius: 75px
  float: right
  height: 100px
  width: 100px
  padding:
    top: .5em
    right: .5em

.galleryContainer
  padding-top: 1.5em
  padding-left: 1.5em
  display: flex
  flex-flow: row wrap
  max-height: 100vh

.galleryContainer img
  padding: .5em

  background-color: rgba(1, 1, 1, 0)
